body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg');

}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;  /* Increased width */
    height: 200px; /* Increased height */
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

li a:hover {
    background-color: #0056b3;
}
