<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pharmacy_list.css') }}">
</head>
<body>
    <div class="container">
        <h1>Available Pharmacies</h1>
        <ul>
            {% for pharmacy in pharmacies %}
                <li>{{ pharmacy[0] }}</li>  <!-- Pharmacy names are displayed here -->
            {% endfor %}
        </ul>
    </div>
</body>
</html>
