<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacies - Pharmacy Database Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pharmacy_list.css') }}">
</head>
<body>
    <h2>LISTS OF PHARMACIES</h2>
    <ul>
        {% for pharmacy in pharmacies %}
            <li><a href="{{ url_for('pharmacy_medicines', pharmacy_id=pharmacy['id']) }}">{{ pharmacy['name'] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
